{{#each activities}}
<div class="form-item-checkbox">
<input type="checkbox" name="activity" value="{{id}}" data-id="{{id}}"  data-label="{{name}}" data-code="{{code}}" data-incl="{{fee_incl_vat}}" data-excl="{{fee_excl_vat}}" data-number-locked="{{locked}}">
<labe>{{name}}</label>
</div>
{{/each}}


