{{#each details}}

<div class="form-item-vertical">
    <div style="float: left; width:10%; padding-right: 3px;">
      {{category_display_name}}
      <input type="hidden" name="payment_detail_id[]" value="{{id}}">
      <input type="hidden" name="towing_voucher_payment_id[]" value="{{towing_voucher_payment_id}}">
    </div>
    <div style="float: left; width:10%; padding-right: 3px;">
      <select name="payment_detail_foreign_vat[]" class="paymentdetail-vat-field">
        <option value="1" {{#equal foreign_vat 1}}selected="selected"{{/equal}}>Ja</option>
        <option value="0" {{#equal foreign_vat 0}}selected="selected"{{/equal}}>Nee</option>
      </select>
    </div>
    <div style="float: left; width:10%; padding-right: 3px;"><input type="text" class="paymentdetail-field" value="{{amount_excl_vat}}" name="payment_detail_amount_excl_vat[]" readonly="readonly" style="background: #F0F0F0;"></div>
    <div style="float: left; width:10%; padding-right: 3px;"><input type="text" class="paymentdetail-field" value="{{amount_incl_vat}}" name="payment_detail_amount_incl_vat[]" readonly="readonly" style="background: #F0F0F0;"></div>
    <div style="float: left; width:10%; padding-right: 3px;"><input type="text" class="paymentdetail-field" value="{{amount_paid_cash}}" name="payment_detail_paid_cash[]" ></div>
    <div style="float: left; width:10%; padding-right: 3px;"><input type="text" class="paymentdetail-field" value="{{amount_paid_bankdeposit}}" name="payment_detail_paid_bankdeposit[]"></div>
    <div style="float: left; width:10%; padding-right: 3px;"><input type="text" class="paymentdetail-field" value="{{amount_paid_maestro}}" name="payment_detail_maestro[]"></div>
    <div style="float: left; width:10%; padding-right: 3px;"><input type="text" class="paymentdetail-field" value="{{amount_paid_visa}}" name="payment_detail_visa[]"></div>
    <div style="float: left; width:10%; padding-right: 3px;">
        <input type="text" class="paymentdetail-field" value="{{amount_unpaid_excl_vat}}" name="payment_detail_amount_unpaid_excl_vat[]" readonly="readonly" style="background: #F0F0F0;">
    </div>
    <div style="float: left; width:10%;">
      <input type="text" class="paymentdetail-field" value="{{amount_unpaid_incl_vat}}" name="payment_detail_amount_unpaid_incl_vat[]" readonly="readonly" style="background: #F0F0F0;">
    </div>
  </div>
{{/each}}
