<label>Depot:</label>
<div id="edit-depot-data" class="depot-container__name">{{name}}, {{street}} {{street_number}} {{street_pobox}} {{zip}} {{city}}</div>
<a id="edit-depot-link" class="inform-link icon--edit--small" href="#depot_form">Bewerken</a>
